<nav class="navbar navbar-light" style="background-color: #a9afff;">
        <a class="navbar-brand" href="#">Планувальник відпустки!</a>
    </nav>
    <h1>Створи список компаньонів для відпустки!</h1>
    <hr>
    <div class="container">
    <form ng-controller="FormInput as itemAdder">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputName">Ім'я</label>
                        <input type="text" class="form-control" placeholder="Ім'я" ng-model="itemAdder.itemName">
                    </div>
                </div>
                <div class="col=md-6">
                    <div class="form-group">
                        <label for="inputPhone">Номер телефону</label>
                        <input type="text" class="form-control" id="inputPhone" placeholder="+*(***)***-**-**" ng-model='itemAdder.itemPhone'>
                    </div>
                </div>
            </div>
            <a class="btn btn-light" ui-sref ="ukr" ng-click="itemAdder.addItem()">Додати</a>
        </form>
    </div>